.contact li {
  list-style: none;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border: #000 1px solid;
}

ul.topnav li { float: right; }

ul.topnav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: #000 1px solid;
}

ul.topnav li a:hover:not(.right) {
  color: darkcyan;
}

ul.topnav li.right { float: left; }

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li { float: none; }
}

body {
  background-color: #fff;
  color: black;
  text-align: center;
}

main {
  min-height: 320px;
}

table {
  border-collapse: collapse;
  width: 30%;
  text-align: center;
  border: 1px #000 solid;
  margin-left: 35%;
}

td {
  text-align: left;
  padding: 8px;
}

input {
  padding: 8px;
  margin: 8px;
  width: 30%;
}

button {
  margin-left: 25%;
}

tr:nth-child(even) { background-color: #f2f2f2; }

footer {
  border-top: #000 solid 1px;
  margin-bottom: 2%;
  margin-top: 10%;
}

.date {
  margin-left: 60%;
}
